.footer-parent {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: black;
  margin: 0 10px;
  /* margin-top: 1000px; */
}

.support-team-info {
  color: white;
  padding-left: 100px;
  flex: 1;
  text-align: left;
  font-size: 20px;
}

.social-media-links {
  justify-content: center;
  display: flex;
  flex: 2;
}

.social-media-link {
  margin-right: 20px ;
}

/* .suppport-contact-number {
  display: flex;
  text-align: left;
} */

.suppport-email-address {
  display: flex;
  /* text-align: right; */
}

.support-details {
  margin-left: 40px;
  text-align: right;
}
